html {
    height: 100%;
}

body {
    background-color: #00bfff;
    color: white;
    font-size: 40px;
    margin: 0;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
